@import "bourbon"
@import "vars"
@import "libs"

//Custom styles here
main
  background-color: #fff
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
  margin: -5em 0
  padding: 3em !important
  &:first-child
    margin-top: 0
  h1, h2, h3
    color: $main-color
    margin-bottom: .5em
    font-weight: 400
  p
    margin-bottom: 1em
@import "media"
