@import "bourbon"
@import "vars"
@import "libs"

//Custom styles here
main
  background-color: #fff
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
  margin-top: -5em
  padding: 1em !important
  text-align: left
  h1, h2, h3
    color: $main-color
    margin-bottom: .5em
    font-weight: 400
  h1
    margin: 1em 0 .5em 0
  p
    margin-bottom: 1em

.directions
  .col-xs-12, .col-md-6
    padding: 1em 0
  h1
    margin-top: 0
  h2
    margin-bottom: 0
    font-size: 1.4em
  p
    margin: 0
  &__logo
    position: absolute
    right: 0
    top: 50%
    transform: translateY(-50%)
  &__info
    line-height:
  &__specific
    font-style: italic
    color: $light-color
    line-height: 1.1
    font-size: .7em
  &__degree
    font-size: 1.2em
    color: $main-color
  &__moreinfo
    font-style: italic
    display: inline-block
    border-bottom: 1px dashed $main-color
    // margin-bottom: 1em !important
    line-height: 1.1
    font-size: .75em
    vertical-align: top
    text-decoration: none
    &:hover
      text-decoration: none

.hide
  display: none

.employees
  p
    margin: 0
    font-size: 1em
    font-weight: 400
    line-height: 1.3
  .specific
    font-size: .75em
    font-weight: 100
    text-transform: lowercase
  &-slider__img
    width: 8em
    height: 8em
    border-radius: 50%
    margin: 0 auto .5em auto

.awards-slider
  &__img
    max-width: 10em
    margin: 0 auto


.slider
  margin: 1em 25px
  text-align: center

.slick-slide:focus
  outline: 0
.slick-next:before, .slick-prev::before
  color: $main-color !important

@import "media"
